*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-l-font-size: 100px;
  --title-font-size: 64px;
  --link-font-size: 24px;

  --body-l-font-size: 40px;
  --body-font-size: 20px;

  --dark-bg-primary: #121212;
  --dark-bg-light: #1a1a1a;

  --general-padding-x: 48px;
  --general-padding-y: 48px;

  --links-col-gap: 24px;
  --links-row-gap: 4px;
}

body {
  font-family: Oswald;
  background-color: var(--dark-bg-primary);
  color: white;

  -ms-overflow-style: none;
  /* scrollbar-width: none; */
}

body::-webkit-scrollbar {
  display: none;
}

body.no-scroll {
  overflow-y: hidden;
}

#root {
  /* padding: var(--general-padding-y) var(--general-padding-x); */
  min-height: 500vh;

  position: relative;
}

main {
  /* min-width: 100vw; */
  height: 100vh;

  position: sticky;
  top: 0;
  left: 0;

  padding: var(--general-padding-y) 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  column-gap: 64px;

  overflow-x: hidden;
}

main > * {
  flex-shrink: 0;
}

/* default */
.link {
  font-size: var(--link-font-size);
  max-height: var(--link-font-size);

  opacity: 0.4;
  transition: 0.3s;

  color: white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
}

/* hover */
.link:hover {
  opacity: 0.6;
}

/* active */
.link.active {
  opacity: 1;
}

/* scrollbar */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  :root {
    --title-l-font-size: 64px;
    --title-font-size: 40px;

    --body-l-font-size: 24px;

    --general-padding-x: 24px;
    --general-padding-y: 24px;
  }
}
