#about {
  width: 100vw;
  height: 100%;

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}

#about .title {
  font-size: var(--title-l-font-size);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

#about .text {
  font-size: var(--body-l-font-size);
  font-weight: 300;
  text-align: center;
  max-width: 640px;
}
