/* default */
.expanding-link {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 6px;

  cursor: pointer;
}

.expanding-link .right {
  max-width: 0;
  overflow-x: clip;

  transition: 0.3s;
}

/* hover */
.expanding-link:hover .right {
  max-width: 200px;
}

/* active */
.expanding-link.active .right {
  max-width: 200px;
}
