#gallery {
  height: fit-content;

  display: flex;
  flex-flow: row nowrap;
  column-gap: 128px;
  align-items: center;
}

#gallery .group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-auto-columns: auto;
  grid-template-areas: var(--grid-areas-desktop);
  column-gap: 24px;
  row-gap: 24px;

  width: fit-content;
  min-width: 0;
}

#gallery .group .thumbnail-wrapper {
  width: fit-content;
  height: fit-content;
}

#gallery .thumbnail {
  --base-height: 45vh;

  height: var(--base-height);

  display: block;
  object-fit: cover;
  object-position: center;

  cursor: pointer;
}

#gallery #web.group .thumbnail {
  aspect-ratio: 16 / 9;
}

#gallery #mobile.group .thumbnail {
  width: auto;
}

#gallery #game.group .thumbnail,
#gallery #articles.group .thumbnail {
  aspect-ratio: 3 / 4;
}

#gallery #experiences.group,
#gallery #awards.group {
  row-gap: 64px;
  column-gap: 64px;
}

#gallery .exp-container,
#gallery .award-container {
  width: 500px;
  height: fit-content;
  /* border-left: 1px solid white;
  padding-left: 16px; */
  /* padding: 16px; */
  /* background-color: #ffffff10; */

  display: flex;
  row-gap: 8px;
}

#gallery .award-container {
  border-left: 1px solid white;
  padding-left: 16px;
}

#gallery .exp-container:nth-child(2n + 1),
#gallery .award-container:nth-child(2n + 1) {
  flex-flow: column-reverse nowrap;
  align-self: flex-end;
}

#gallery .exp-container:nth-child(2n),
#gallery .award-container:nth-child(2n) {
  flex-flow: column nowrap;
  align-self: flex-start;
}

#gallery .exp-container .position,
#gallery .award-container .title {
  font-size: var(--position-font-size);
  text-transform: uppercase;
  line-height: 1;
}

#gallery .exp-container .company-duration,
#gallery .award-container .date-team-position {
  font-size: var(--body-font-size);
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;

  display: flex;
  column-gap: var(--links-col-gap);
  row-gap: var(--links-row-gap);
}

#gallery .exp-container .company a {
  color: white;
}

#gallery .exp-container:nth-child(2n + 1) .company-duration,
#gallery .award-container:nth-child(2n + 1) .date-team-position {
  flex-flow: column-reverse nowrap;
}

#gallery .exp-container:nth-child(2n) .company-duration,
#gallery .award-container:nth-child(2n) .date-team-position {
  flex-flow: column nowrap;
}

#gallery .award-container .team-position {
  font-size: var(--body-font-size);
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  #gallery .thumbnail {
    --base-height: 35vh;
  }
}

@media screen and (max-width: 576px) {
  #gallery {
    column-gap: 80px;
  }

  #gallery .group {
    grid-template-areas: var(--grid-areas-mobile);
    height: min-content;
  }

  #gallery .thumbnail {
    --base-height: 20vh;
    --double-height: calc(var(--base-height) + 24px + var(--base-height));
  }

  #gallery #mobile.group .thumbnail {
    height: var(--double-height);
  }

  #gallery #game.group .thumbnail,
  #gallery #articles.group .thumbnail {
    height: var(--double-height);
  }

  #gallery .exp-container,
  #gallery .award-container {
    width: calc(100vw - 2 * var(--general-padding-x));
  }
}
