.gallery {
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  column-gap: 256px;

  padding-right: 256px;
}

.gallery .group {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 24px;

  min-width: 100vw;
}

.gallery > div {
  width: fit-content;
  height: fit-content;
}

.gallery .thumbnail {
  height: 45vh;
  width: auto;
  width: calc(45vh / 9 * 16);
  display: block;
  border-radius: 4px;
  /* aspect-ratio: 16 / 9; */
  object-fit: cover;
  object-position: left center;

  cursor: pointer;
}

.gallery .spacer {
  display: none;
  /* aspect-ratio: 16 / 9; */
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .gallery {
    column-gap: 128px;
    padding-right: 128px;
  }

  .gallery .thumbnail {
    height: auto;
    height: calc(80vw / 16 * 9);
    width: 80vw;
  }
}

@media screen and (max-width: 576px) {
  .gallery {
    column-gap: 64px;
    padding-right: 0;
  }

  .gallery .thumbnail,
  .gallery .spacer {
    display: block;
    height: 20vh;
    width: auto;
    width: calc(20vh / 9 * 16);
  }

  .gallery .group {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    row-gap: 24px;

    display: flex;
    flex-flow: column wrap;
    height: calc(20vh + 24px + 20vh);
    row-gap: 24px;
  }

  .gallery .group > div:nth-child(2n) {
    transform: translate(calc(50% + 12px), 0);
  }
}
